* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* navigacja, jej pozycjonowanie */

.main-navigation li { list-style-type: none; font-size: 60px; padding: 15px; }
#to-pomodoro-link { position: fixed; top: 0; right: 0; }
#to-calendar-link { position: fixed; top: 0; left: 0; }
#to-finance-link { position: fixed; bottom: 0; right: 0; }
#to-login-link { position: fixed; bottom: 0; left: 0; }

.pomodoro-page-container {
    width: 100%;
    height: 100vh;
}

/* gorna czesc */
.top-box {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* czesc z wyswietlaczem i kontrola dzialania */
#time-display-container {
    width: 70%;
    height: 40%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/* WYSWIETLACZ ZEGARA */
#pomodoro-timer {
    font-size: 45px;
    letter-spacing: 2px;
}

/* przyciski przelaczajace start/reset/stop ZABLOKOWANE po starcie */
.time-toggle-btn-special { pointer-events: none; }
/* przyciski przelaczajace start/reset/stop */
.time-toggle-controls button{
    width: 120px;
    height: 50%;
    font-size: 40px;
    background-color: transparent;
    border: none;
}

#session-text {
    font-size: 20px;
    text-align: center;
}

/* dolna czesc z manipulatorami wartosci sesji */
.break-job-time-panel {
    width: 70%;
    height: 40%;
    border: 1px solid red;
    display: flex;
}

.break-job-time-panel button {
    width: 120px;
    height: 50%;
    font-size: 40px;
    background-color: transparent;
    border: none;
}
.break-job-time-panel h2 { font-size: 26px; text-align: center; margin-bottom: 14px; }
#break-session-value { font-size: 29px; font-weight: 700; text-align: center; }
#work-session-value { font-size: 29px; font-weight: 700; text-align: center; }

.break-job-time-panel-holder {
    width: 100%;
    border: 1px solid red;
    display: flex;
}

/* lewa czesc - przerwa */
.break-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* prawa czesc - praca */
.work-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* dolna czesc */
.bottom-box {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid red;
}

