* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../css/img/kosmos3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* cala strona */
.full-page-container {
    width: 100%;
    height: 100vh;
}

.f-p-g-after {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("../css/img/kosmos3.jpg");
}

/* navigacja, jej pozycjonowanie */

.main-navigation li { list-style-type: none; font-size: 50px; padding: 15px; }
.main-navigation li a { text-decoration: none; }
#to-pomodoro-link { position: fixed; top: 0; right: 0; }
#to-calendar-link { position: fixed; top: 0; left: 0; }
#to-finance-link { position: fixed; bottom: 0; right: 0; }
#to-login-link { position: fixed; bottom: 0; left: 0; }

/* wyszukiwarka */
.search-engine {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* centralny panel zadan */
.to-do-list-panel {
    width: 100%;
    height: 80vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* wybor kategorii */
.category {
    border: 1px solid red;
    width: 760px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* formularz dodawania zadan / domyslnie yukryty , odpala modal po nacisnienu guzika */
.to-do-list-form {
    border: 1px solid red;
    background-color: rgba(11, 11, 12, 0.9);
    width: 92%;
    height: 68%;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
}

/* kazda pojedyncz lista */
.list {
    border: 1px solid red;
    width: 760px;
    min-height: 300px;
}

/* pojemnik na listy / pusty z komunikatem domyslnie */
.list-holder {
    min-height: 350px;
    border: 1px solid red;
    width: 760px;
}

/* pilne - widoczne domyslnie */
.list-urgent {  }

/* wazne - domyslnie ukrtte */
.list-important {
    display: none;
}

/* inne - domyslnei ukryte  */
.list-others {
    display: none;
}

.open-task-modal {
    width: 400px;
    height: 80px;
}
/* panel zakladek */
.bookmarks-panel {
    width: 100%;
    height: 10vh;
    font-size: 40px;
    position: fixed;
    bottom: 0;
}

.bookmarks-panel ul { width: 100%; height: 100%; display: flex; align-items: center; justify-content: space-evenly; }

.bookmarks-panel li { list-style-type: none;  }